<!DOCTYPE>
<html>
<head>
    <title>
        Warp Auto Balance Generator
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
</head>
<body>
    <div class="pen-title">
    <h1>Warp Balance Generator</h1>
    </div>
    <div class="container">
    <div class="card"></div>
    <div class="card">
        <h1 class="title">Your User ID</h1>
        <form>
        <div class="input-container">
            <input type="#{type}" id="#{label}" required="required"/>
            <label for="#{label}">ENTER YOUR ID</label>
            <div class="bar"></div>
        </div>
        <div class="input-container">
        <input type="#{type}" id="times" required="required"/>
        <label for="#{label}">NUMBER OF TIMES</label>
        <div class="bar"></div>
      </div>
        <h2 class="pen-titleX" id="load"></h2>
        <h2 class="pen-titleX" id="results"></h2>
        <div class="button-container">
            <button><span>Generate</span></button>
        </div>
        <div class="pen-title">
            <span style="font-weight:bold; font-size: 17px; color:red;">This is only for EDUCATIONAL PURPOSE</span><br><br>
            <span style="font-weight:bold; font-size: 15px; color:#2170FE">Steps to Get Your Warp Plus ID :</span><br><br>
            <li>Go to Setting << Advanced << Diagnostics << ID << Copy and Paste It Above</li>
            <br>
            <li>If you are getting retry error, kindly wait for few seconds as the server might get overloaded and can't complete all requests at a time</li>
        </div>
        </form>
    </div>
    </div>
    <script src="/js/warp.js"></script>
    <a id= "github" href="https://github.com/AmmeySaini/Warp-Project" title="Fork Me on Github"><i class="fa fa-github"></i></a>
</body>
</html>